[include]
	path = .gitconfig.local
[core]
	autocrlf = false
	filemode = false
	pager = "emojify | less -FRX"
	editor = "vim"
[color]
	ui = auto
	diff = auto
	branch = auto
[push]
	default = current
[rebase]
	autosquash = true
[alias]
	logf = log --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
	logl = log --oneline
	logg = log --oneline --graph --decorate --all
	# https://qiita.com/querykuma/items/e0e033fdcccce6bfb505#gitのalias
	loggg = log --graph --date=iso-local --format=\"%x09%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	logp = log -p --oneline
	logdiff = log -p --oneline --graph
	# Link: https://qiita.com/mishimay/items/baa23f3b8c2cd62cf817
	today = log --merges --since=6am --first-parent --reverse --pretty=format:\"* %b\"
	yesterday = log --merges --since='$(date --date "1 day ago" +%Y/%m/%d) 06:00:00' --before='$(date +%Y/%m/%d) 06:00:00' --first-parent --reverse --pretty=format:\"* %b\"
	weekly = log --merges --since='$(date --date "7 day ago" +%Y/%m/%d) 06:00:00' --before='$(date +%Y/%m/%d) 06:00:00' --first-parent --reverse --pretty=format:\"%cr\t* %b\"
	showi = "!f() { git log --oneline --no-merges | peco | awk '{ print $1 }' | xargs git show ; };f"
	s = status
	su = status -uno
	f = fetch
	fp = fetch --prune
	pl = pull
	plr = pull --rebase
	b = branch
	ba = branch --all
	br = branch --remote
	bm = branch --merged
	bn = branch --no-merged
	d = diff
	dn = diff --name-only
	dns = diff --name-status
	dw = diff --word-diff
	dwc = diff --word-diff --cached
	dc = diff --cached
	dcw = diff --cached --word-diff
	ch = checkout
	ad = add
	addp = add --patch
	adp = add --patch
	parts = add --patch
	addu = add --update
	adu = add --update
	upd = add --update
	addd = add --dry-run
	adi = add --intent-to-add
	addi = add --intent-to-add
	adn = add --intent-to-add
	addn = add --intent-to-add
	add-index = add --intent-to-add
	index = add --intent-to-add
	index-add = add --intent-to-add
	co = commit
	coe = commit --allow-empty
	coa = commit --amend
	cof = "!f() { git log --oneline --no-merges | emojify | peco | awk '{ print $1 }' | xargs git commit --fixup; };f"
	cos = "!f() { git log --oneline --no-merges | emojify | peco | awk '{ print $1 }' | xargs git commit --squash; };f"
	cofi = "!f() { git commit --fixup @~$1; };f"
	cosi = "!f() { git commit --squash @~$1; };f"
	new = "!f() { git checkout -b $1 && git push -u origin $1; };f"
	newb = checkout -b
	newr = push -u origin
	pushf = push --force-with-lease
	sel = "!f() { git branch | peco | xargs git checkout; };f"
	selr = "!f() { git branch -r | peco | sed 's@/@ @' | awk '{ print $2\" \"$1\"/\"$2 }' | xargs git checkout -b; };f"
	del = "!f() { git branch | peco | xargs git branch -d; };f"
	del-all = "!f() { git branch --merged | grep -v master | grep -v develop | grep -v \"*\" | xargs git branch -d; };f"
	delf= "!f() { git branch | peco | xargs git branch -D; };f"
	delf-all = "!f() { git branch --merged | grep -v master | grep -v develop | grep -v \"*\" | xargs git branch -D; };f"
	rebi = "!f() { git rebase -i @~$1; };f"
	sel-d = "!f() { git diff --name-status | peco | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git diff; };f"
	sel-dc = "!f() { git diff --name-status --cached | peco | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git diff --cached; };f"
	sel-c = "!f() { git diff --name-status | peco | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git checkout -- ; };f"
	sel-a = "!f() { git diff --name-status | peco | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git add; };f"
	vi = "!f() { git diff --name-status | peco | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs -o vi; };f"
	continue = rebase --continue
	abort = rebase --abort
	skip = rebase --skip
	cp = cherry-pick
	cfe = config --edit
	cfl = config --list
	sub = submodule update
	subup = submodule update
	save = stash save
	save-all = stash save -u
	save-other = stash save -k
	pop = stash pop
	popi = "!f() { git stash pop stash@{$1}; };f"
	sshow = stash show -p
	sshowf = stash show
	sshowi = "!f() { git stash show -p stash@{$1}; };f"
	sapply = stash apply --index
	sapplyi = "!f() { git stash apply --index stash@{$1}; };f"
	drop = stash drop
	dropi = "!f() { git stash drop stash@{$1}; };f"
	sdiff = diff stash@{0}
	sdiffi = "!f() { git diff stash@{$1} $2; };f"
	clear = stash clear
	list = stash list
	listp = stash list -p
	listf = stash list --name-status
	cfeg = config --edit --global
	cflg = config --list --global
	# https://qiita.com/usamik26/items/56d0d3ba7a1300625f92
	index-list = "!f() { git ls-files -v | grep -v ^H; };f"
	index-list-skip = "!f() { git ls-files -v | grep ^S; };f"
	index-skip-list = "!f() { git ls-files -v | grep ^S; };f"
	index-skip = update-index --skip-worktree
	index-no-skip = update-index --no-skip-worktree
	index-unchanged = update-index --assume-unchanged
	index-no-unchanged = update-index --no-assume-unchanged
	# hub-cli
	see = browse
	test-pr = "!f() { hub --noop pull-request; };f"
	create-pr = pull-request
