[include]
	path = .gitconfig.local
[core]
	autocrlf = false
	filemode = false
	pager = "emojify | less -FRX"
	editor = "vim"
	commentChar = >
[color]
	ui = auto
	diff = auto
	branch = auto
[push]
	default = current
[rebase]
	autosquash = true
[pull]
	ff = only
[alias]
	# 基本形
	s = status
	su = status -uno
	f = fetch
	fp = fetch --prune
	pl = pull
	plr = pull --rebase
	b = branch
	ba = branch --all
	br = branch --remote
	bm = branch --merged
	bn = branch --no-merged
	# https://taiga.hatenadiary.com/entry/2018/05/04/172538
	bt = for-each-ref --sort=committerdate refs/heads refs/remotes --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	btl = for-each-ref --sort=-committerdate refs/heads refs/remotes --format='\nDate: %(color:red)%(authordate:iso)%(color:reset) %(color:green)[%(authorname)]%(color:reset)\nRef: %(color:yellow)%(refname:short)%(color:reset)\nSubject: %(subject)'
	d = diff
	dn = diff --name-only
	dns = diff --name-status
	dw = diff --word-diff
	dwc = diff --word-diff --cached
	dc = diff --cached
	dcw = diff --cached --word-diff
	ch = checkout
	sw = switch
	sh = switch
	ad = add
	addp = add --patch
	adp = add --patch
	parts = add --patch
	addu = add --update
	adu = add --update
	upd = add --update
	addd = add --dry-run
	adi = add --intent-to-add
	addi = add --intent-to-add
	adn = add --intent-to-add
	addn = add --intent-to-add
	add-index = add --intent-to-add
	index = add --intent-to-add
	index-add = add --intent-to-add
	co = commit
	coe = commit --allow-empty
	coa = commit --amend
	cof = "!f() { git log --oneline --no-merges | emojify | peco --prompt '[select commit --fixup]' | awk '{ print $1 }' | xargs git commit --fixup; };f"
	cos = "!f() { git log --oneline --no-merges | emojify | peco --prompt '[select commit --squash]' | awk '{ print $1 }' | xargs git commit --squash; };f"
	cofi = "!f() { git commit --fixup @~$1; };f"
	cosi = "!f() { git commit --squash @~$1; };f"
	cp = cherry-pick
	new = "!f() { git checkout -b $1 && git push -u origin $1; };f"
	newb = checkout -b
	newr = push --set-upstream origin
	pushf = push --force-with-lease
	sel = "!f() { git branch | peco --prompt '[select branch]' | xargs git checkout; };f"
	selr = "!f() { git branch -r | peco --prompt '[select remote branch]' | sed 's@/@ @' | awk '{ print $2\" \"$1\"/\"$2 }' | xargs git checkout -b; };f"
	del = "!f() { git branch | peco --prompt '[select delete branch]' | xargs git branch -d; };f"
	del-all = "!f() { git branch --merged | grep -v master | grep -v staging | grep -v develop | grep -v \"*\" | xargs git branch -d; };f"
	delf= "!f() { git branch | peco --prompt '[select delete -f branch]' | xargs git branch -D; };f"
	delf-all = "!f() { git branch --merged | grep -v master | grep -v develop | grep -v \"*\" | xargs git branch -D; };f"
	sel-d = "!f() { git diff --name-status | peco --prompt '[select diff]' | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git diff; };f"
	sel-dc = "!f() { git diff --name-status --cached | peco --prompt '[select diff cached]' | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git diff --cached; };f"
	sel-c = "!f() { git diff --name-status | peco --prompt '[select checkout --]' | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git checkout -- ; };f"
	sel-a = "!f() { git diff --name-status | peco --prompt '[select add]' | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs git add; };f"
	vi = "!f() { git diff --name-status @ | peco --prompt '[select vi]' | sed 's@[AMD] +@@' | awk '{ print $2 }' | xargs start vi; };f"

	# Log系
	logf = log --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
	logl = log --oneline
	logg = log --oneline --graph --decorate --all
	## https://qiita.com/querykuma/items/e0e033fdcccce6bfb505#gitのalias
	loggg = log --graph --date=iso-local --format=\"%x09%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	logp = log -p --oneline
	logdiff = log -p --oneline --graph
	## Link: https://qiita.com/mishimay/items/baa23f3b8c2cd62cf817
	today = log --merges --since=6am --first-parent --reverse --pretty=format:\"* %b\"
	yesterday = log --merges --since='$(date --date "1 day ago" +%Y/%m/%d) 06:00:00' --before='$(date +%Y/%m/%d) 06:00:00' --first-parent --reverse --pretty=format:\"* %b\"
	weekly = log --merges --since='$(date --date "7 day ago" +%Y/%m/%d) 06:00:00' --before='$(date +%Y/%m/%d) 06:00:00' --first-parent --reverse --pretty=format:\"%cr\t* %b\"
	showi = "!f() { git show @~$1; };f"
	sel-show = "!f() { git log --oneline --no-merges | emojify | peco --prompt '[select show]' | awk '{ print $1 }' | xargs git show ; };f"

	# 差分表示系
	current = symbolic-ref --short HEAD
	dl = "!f() { git symbolic-ref --short HEAD | sed -E 's@(.+)@origin/\\1..HEAD@' | xargs git diff; };f"
	do = "!f() { git symbolic-ref --short HEAD | sed -E 's@(.+)@HEAD..origin/\\1@' | xargs git diff; };f"

	# Rebase系
	reb = "!f() { git log --oneline --no-merges | emojify | peco --prompt '[select rebase --interactive]' | awk '{ print $1 }' | xargs start git rebase --interactive; };f"
	rebi = "!f() { git rebase -i @~$1; };f"
	continue = rebase --continue
	abort = rebase --abort
	skip = rebase --skip

	# Submodule系
	sub = submodule update
	subup = submodule update

	# Stash系
	save = stash save --keep-index
	save-all = stash save --include-untracked
	save-nk = stash save --no-keep-index
	save-parts = stash save --patch
	pop = "!f() { git stash list | emojify | peco --prompt '[select pop]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git stash pop; };f"
	popi = "!f() { git stash pop stash@{$1}; };f"
	sshow = "!f() { git stash list | emojify | peco --prompt '[select stash show]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git stash show --patch; };f"
	sshowf = "!f() { git stash list | emojify | peco --prompt '[select stash show files]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git stash show; };f"
	sshowi = "!f() { git stash show -p stash@{$1}; };f"
	sapply = "!f() { git stash list | emojify | peco --prompt '[select stash apply]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git stash apply --index; };f"
	sapplyi = "!f() { git stash apply --index stash@{$1}; };f"
	drop = "!f() { git stash list | emojify | peco --prompt '[select stash drop]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git stash drop; };f"
	dropi = "!f() { git stash drop stash@{$1}; };f"
	sdiff = "!f() { git stash list | emojify | peco --prompt '[select stash diff]' | sed 's@:@ @' | awk '{ print $1 }' | xargs git diff; };f"
	sdiffi = "!f() { git diff stash@{$1} $2; };f"
	clear = stash clear
	list = "!f() { git stash list | emojify; };f"
	slist = "!f() { git stash list | emojify; };f"
	listp = stash list -p
	listf = stash list --name-status

	# コンフィグ系
	cfe = config --edit
	cfl = config --list
	cfeg = config --edit --global
	cflg = config --list --global

	# 除外系
	## https://qiita.com/usamik26/items/56d0d3ba7a1300625f92
	ilist = "!f() { git ls-files -v | grep -v ^H; };f"
	index-list = "!f() { git ls-files -v | grep -v ^H; };f"
	skip-list = "!f() { git ls-files -v | grep ^S; };f"
	index-list-skip = "!f() { git ls-files -v | grep ^S; };f"
	index-skip-list = "!f() { git ls-files -v | grep ^S; };f"
	index-skip = update-index --skip-worktree
	index-no-skip = update-index --no-skip-worktree
	index-unchanged = update-index --assume-unchanged
	index-unchanged = update-index --assume-unchanged
	index-no-unchanged = update-index --no-assume-unchanged

	uilist = "!f() { git ls-files -v | grep -v ^H; };f"
	ui-list = "!f() { git ls-files -v | grep -v ^H; };f"
	ui-index = update-index --assume-unchanged
	ui-no-index = update-index --no-assume-unchanged
	uislist = "!f() { git ls-files -v | grep ^S; };f"
	uis-list = "!f() { git ls-files -v | grep ^S; };f"
	uis-index = update-index --skip-worktree
	uis-no-index = update-index --no-skip-worktree

	# hub-cli
	see = browse
	test-pr = "!f() { hub --noop pull-request; };f"
	draft-pr = pull-request --draft
	create-pr = pull-request

	# hub-custom
	open = "!f() { git config --get remote.origin.url | sed 's#:#/#' | sed 's#git@#https://#' | sed 's#[.]git#/issues/#' | xargs -I{} open {}$1; };f"
